body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
    color: orchid;
    width: 700px;
}
h2{
    font-size: 30px;
}
p{
    color: dimgray;
}
.half-width{
    width: 35%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 90%;
    
}
.header-sec{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.bio-sec{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;    
}
footer p{
    font-size: 15px;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orchid, violet);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;    
}
#latest-work{
    text-align: center;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.work-images img{
    align-content: center;
    margin: 15px;
    width: 350px;
    float: left;
}
.clients{
    text-align: center;
    width: 30%;
}
footer{
    text-align: center;
    font-size: 15px;
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}